.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.book-item {
    padding : 30px 10px 10px 10px;
    text-align: center;
    width: 220px;
    margin-bottom: 20px;
}
  