<!DOCTYPE html>
<html>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #142e50;">
      <div class="container-fluid">
          <a class="navbar-brand" href = "app.component.html">
              <img src="assets/images/ubuntu.png" width="45" height="45" class="rounded-pill" alt=""> OziBooks
          </a>

          <div class="navbar-nav ms-auto">
              <div class="navbar-nav">

                  <button type="button" class="btn btn-primary" >Add Product</button>
                  <a href="Owners.html" class="nav-item nav-link active">Owners</a>
                  
              </div>
          </div>
      </div>
    </nav>
    <div>
      <app-books [books]="books"></app-books>
    </div>
  
  </body>
</html>
<router-outlet></router-outlet>
